<div class="backdrop-feedback-modal">
            <div class="feedback-modal">
                        <button class="feedback-close-btn" type="button">
                                    <svg class="feedback-close-btn-icon" width="32" height="32">
                                                <use href="./images/icon.svg#icon-Icon"></use>
                                    </svg>
                        </button>
                        <h3 class="feedback-modal-title">Submit feedback</h3>
                        <form class="feedback-modal-form">
                                    <div class="feedback-modal-item">
                                                <label for="user-name" class="feedback-modal-label">Name</label>
                                                <div class="feedback-modal-block">
                                                            <input class="feedback-modal-input" id="user-name"
                                                                        type="text" name="user-name"
                                                                        placeholder="Emily">
                                                </div>
                                    </div>
                                    <div class="feedback-modal-item">
                                                <label for="user-message" class="feedback-modal-label">Message </label>
                                                <div class="feedback-modal-block">
                                                            <textarea class="feedback-modal-textarea" id="user-message"
                                                                        name="user-message"
                                                                        placeholder="Type your message..."></textarea>
                                                </div>
                                    </div>
                                    <ul class="feedback-modal-list">
                                                <li class="feedback-list-modal-item">
                                                            <button type="button" class="feedback-modal-rating"
                                                                        data-value="1">
                                                                        <svg class="feedback-modal-star" width="31"
                                                                                    height="29">
                                                                                    <use
                                                                                                href="./images/icon.svg#icon-Vector-1">
                                                                                    </use>
                                                                        </svg>
                                                            </button>
                                                </li>
                                                <li class="feedback-list-modal-item">
                                                            <button type="button" class="feedback-modal-rating"
                                                                        data-value="2">
                                                                        <svg class="feedback-modal-star" width="31"
                                                                                    height="29">
                                                                                    <use
                                                                                                href="./images/icon.svg#icon-Vector-1">
                                                                                    </use>
                                                                        </svg>
                                                            </button>
                                                </li>
                                                <li class="feedback-list-modal-item">
                                                            <button type="button" class="feedback-modal-rating"
                                                                        data-value="3">
                                                                        <svg class="feedback-modal-star" width="31"
                                                                                    height="29">
                                                                                    <use
                                                                                                href="./images/icon.svg#icon-Vector-1">
                                                                                    </use>
                                                                        </svg>
                                                            </button>
                                                </li>
                                                <li class="feedback-list-modal-item">
                                                            <button type="button" class="feedback-modal-rating"
                                                                        data-value="4">
                                                                        <svg class="feedback-modal-star" width="31"
                                                                                    height="29">
                                                                                    <use
                                                                                                href="./images/icon.svg#icon-Vector-1">
                                                                                    </use>
                                                                        </svg>
                                                            </button>
                                                </li>
                                                <li class="feedback-list-modal-item">
                                                            <button type="button" class="feedback-modal-rating"
                                                                        data-value="5">
                                                                        <svg class="feedback-modal-star" width="31"
                                                                                    height="29">
                                                                                    <use
                                                                                                href="./images/icon.svg#icon-Vector-1">
                                                                                    </use>
                                                                        </svg>
                                                            </button>
                                                </li>
                                    </ul>
                                    <button class="feedback-modal-button" type="submit">Submit</button>
                        </form>
            </div>
</div>