<!-- === Блок відгуків (основний контейнер) === -->
<section class="feedback container" id="review">
  <h2 class="visually-hidden">Feedbacks our visitors</h2>
  <!-- === Слайдер Swiper === -->
  <div class="swiper">
    <!-- === Контейнер для відгуків (слайди) === -->
    <div class="swiper-wrapper" id="reviews-container"></div>
    <!-- === Кнопки навігації (стрілки) === -->
    <div class="swiper-button-prev">
      <svg>
        <use xlink:href="./images/icon.svg#icon-left-arrow-alt"></use>
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg>
        <use xlink:href="./images/icon.svg#icon-right-arrow-alt"></use>
      </svg>
    </div>

    <!-- === Пагінація (крапки) === -->
    <div class="swiper-pagination"></div>
  </div>
  <button class="leave-feedback" id="leave-feedback-button">
    Leave feedback
  </button>
</section>