<footer class="footer">
  <div class="container footer-container">
    <!-- лого -->
    <a href="./index.html" class="footer-link-logo">
      <svg class="footer-logo" width="116" height="45">
        <use href="./img/icon.svg#icon-logo-footer"></use></svg>logo
    </a>
    <!-- футер-меню -->
    <div class="footer-link-wrap">
      <h3 class="visually-hidden">Footer Links</h3>

      <ul class="footer-link-list">
        <li class="footer-link-item">
          <a class="footer-link" href="#artists">Artists</a>
        </li>
        <li class="footer-link-item">
          <a class="footer-link" href="#about us">About us</a>
        </li>
        <li class="footer-link-item">
          <a class="footer-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </div>

    <!-- нижній рядок -->
    <div class="credits">
      <!-- лінія -->
      <hr class="footer-divider" />
      <div class="row">
        <div class="footer-social-link">
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <svg class="footer-social-img" width="40" height="40">
                  <use href="./img/icon.svg#icon-Instagram"></use></svg>Instagram
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <svg class="footer-social-img" width="40" height="40">
                  <use href="./img/icon.svg#icon-Facebook"></use></svg>Facebook
              </a>
            </li>

            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="https://www.youtube.com/"
                target="_blank">
                <svg class="footer-social-img" width="40" height="40">
                  <use href="./img/icon.svg#icon-Youtube"></use></svg>YouTube
              </a>
            </li>
          </ul>
        </div>

        <p class="footer-rights">© 2025 ArtistsHub. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

