<header class="header">
  <div class="container header-container">
    <a class="logo" href="https://fedorivrv.github.io/DevPulse/">
      <svg class="logo-icon" width="106" height="30">
        <use href="./img/icon.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#artists">Artists</a></li>
        <li class="nav-item"><a class="nav-link" href="#aboutUs">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="#review">Reviews</a></li>
      </ul>
    </nav>
    <button class="burger-btn" type="button">
      <span class="burger-icon"></span>
    </button>
  </div>
</header>