<section class="hero">
  <div class="hero-inner container">
    <div class="hero-content">
      <h1 class="hero-title">
        <!-- Мобільна версія -->
        <span class="mob-line">Discover</span>
        <span class="mob-line">Your Next</span>
        <span class="mob-line">Favorite</span>
        <span class="mob-line">Artist</span>
        <span class="mob-line">Today</span>

        <!-- Планшет -->
        <span class="tab-line">Discover Your Next</span>
        <span class="tab-line">Favorite Artist Today</span>

        <!-- Десктоп -->
        <span class="desk-line">Discover Your</span>
        <span class="desk-line">Next Favorite</span>
        <span class="desk-line">Artist Today</span>
      </h1>
      <h2 class="hero-subtitle">
        Dive into a world of music discoveries with ArtistsHub – your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </h2>
      <a href="#artists" class="btn">
        Explore Artists
        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <use href="public/images/icon.svg#icon-right-arrow"></use>
        </svg>
      </a>
    </div>
    \
    <div class="hero-bg"></div>
  </div>
</section>